<odoo>
    <menuitem id="menu_sekolah_root" name="Sekolah" sequence="10"/>

    <menuitem id="menu_sekolah_master" name="Master" parent="menu_sekolah_root" sequence="1"/>
    <menuitem id="menu_guru" name="Guru" parent="menu_sekolah_master" action="action_guru" sequence="1"/>
    <menuitem id="menu_siswa" name="Siswa" parent="menu_sekolah_master" action="action_siswa" sequence="2"/>
    <menuitem id="menu_kelas" name="Kelas" parent="menu_sekolah_master" action="action_kelas" sequence="3"/>
    <menuitem id="menu_mata_pelajaran" name="Mata Pelajaran" parent="menu_sekolah_master" action="action_mata_pelajaran" sequence="4"/>

    <menuitem id="menu_sekolah_transaksi" name="Transaksi" parent="menu_sekolah_root" sequence="2"/>
    <menuitem id="menu_jadwal" name="Jadwal" parent="menu_sekolah_transaksi" action="action_jadwal" sequence="1"/>

    <menuitem id="menu_sekolah_laporan" name="Laporan" parent="menu_sekolah_root" sequence="3"/>
    <menuitem id="menu_kartu_siswa" name="Kartu Siswa" parent="menu_sekolah_laporan" action="action_report_kartu_siswa" sequence="1"/>
</odoo>